<manifest>
	// from https://developer.android.com/media/camera/camera-deprecated/photobasics?hl=en
	<uses-feature android:name="android.hardware.camera"
                  android:required="true" />
	<application>
		<activity
    		android:name=".Termux_Photo"
    		android:theme="@android:style/Theme.NoDisplay">
		<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.LAUNCHER" />
    		</intent-filter>
		</activity>
	</application>
</manifest>
